body{
    background-image: url("https://ak6.picdn.net/shutterstock/videos/4805756/thumb/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  input[type=number]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: #C2B6A8;
    color: white;
    padding:5px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-left:100px;
  }
  
  input[type=submit]:hover {
    background-color:#856E51;
  }
  input[type=submit]:hover {
    background-color:#856E51;
  }
  
  div {
    border-radius: 5px;
    padding: 20px;
  }

  label {
    padding: 12px 12px 12px 0;
    
  }
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
}
h1,p{
  text-align: center;
}
.form{
  text-align: center;
}
.header{
  display: flex;
  justify-content: center;
}
 h2{
   margin-left: 40px;
 }

 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#C2B6A8;
    color: black;
    text-align: center;
 }